* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url(cursor1.png), pointer;
}

body {
  background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
  background-size: 100%;
  background-repeat: repeat-y;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

@media (max-width: 767.98px) {
  body {
    background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
    background-position: center;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    font-size: 18px;
  }
}

h1 {
  font-size: 48px;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

button {
  cursor: url(cursor2.png), pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#f8efda, #ffac33);
  border: 1px solid #ddaca6;
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

#text {
  padding: 10px;
}

#game {
  cursor: url(cursor2.png), pointer;
  max-width: 1000px;
  max-height: 800px;
  background-color: #60cdf8;
  margin: 50px auto 50px;
  padding: 10px;
  opacity: 90%;
  border-radius: 10px;
}

@media (max-width: 767.98px) {
  #game {
    max-width: 90%;
    max-height: 70vh;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  #game {
    max-width: 80%;
    max-height: 70vh;
  }
}

@media (min-width: 1024px) {
  #game {
    max-width: 500px;
    max-height: 400px;
  }
}

#controls,
#stats {
  cursor: url(cursor2.png), pointer;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
  text-align: center;
  border-radius: 10px;
}

#alienStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
  border-radius: 10px;
}

.stat {
  padding-right: 10px;
  border-radius: 10px;
}
